@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #10141e;
  --foreground: #ffffff;
  --primary: #fc4747;
  --greyishBlue: #5a698f;
  --darkBlue: #161d2f;
}

body {
  color: var(--foreground);
  background: var(--background) !important;

  &::-webkit-scrollbar {
    padding-right: 0.25rem;
    width: 0.625rem;
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: var(--greyishBlue);
  }
}

.custom-input {
  background: transparent;
  color: var(--foreground);
  font-weight: 200;
  width: 100%;
}
.custom-input:focus {
  border-bottom: 1px solid var(--greyishBlue);
  outline: none;
}
.custom-input-error {
  border-bottom: 1px solid var(--primary) !important;
}

/* Para ocultar a barra de rolagem em navegadores baseados em WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  background: var(--darkBackground);
  height: 0.625rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 0.5rem;
}

// Swipper

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #1a1a1a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
