@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161d2f;
  --foreground: #ffffff;
  --primary: #fc4747;
  --greyishBlue: #5a698f;
  --darkBlue: #10141e;
}

body {
  color: var(--foreground);
  background: var(--darkBlue) !important;
}

.custom-input {
  background: var(--background);
  color: var(--foreground);
  border-bottom: 1px solid var(--greyishBlue);
  font-weight: 200;
}
.custom-input:focus {
  border-bottom: 1px solid var(--foreground);
  outline: none;
}
.custom-input-error {
  border-bottom: 1px solid var(--primary) !important;
}
