@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161d2f;
  --foreground: #ffffff;
  --primary: #fc4747;
  --greyishBlue: #5a698f;
  --darkBlue: #10141e;
}

body {
  color: var(--foreground);
  background: var(--darkBlue) !important;

  &::-webkit-scrollbar {
    padding-right: 4px;
    width: 10px;
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--greyishBlue);
  }
}

.custom-input {
  background: var(--darkBlue);
  color: var(--foreground);
  border-bottom: 1px solid var(--greyishBlue);
  font-weight: 200;
  width: 100%;
}
.custom-input:focus {
  border-bottom: 1px solid var(--foreground);
  outline: none;
}
.custom-input-error {
  border-bottom: 1px solid var(--primary) !important;
}
